.typography {
    font-family: Roboto, serif;
    font-style: normal;
    letter-spacing: 0.0015em;
    color: #000;
}

.typography.medium {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
}

.typography.large {
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
}

.typography.negative {
    color: #FFF;
}
